html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#logo { float: left; margin: 10px; }
#server-status { float: right; padding: 10px;}


button { margin: 10px; }
#map-canvas {   width:100%;   height:500px; }
.data-group {	margin: 2px;	padding: 1px; }
#buttons { float: right;}
.mapLabel {
	background-color:#ffffff;
	font-weight:bold; 
	border:2px #006699 solid;
	padding: 1px;
}

.panel-danger > .panel-heading {
	color: #FF0000 !important;
	background-color: #F2DEDE !important;
	border-color: #EBCCD1 !important
}
